{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}
<link rel="stylesheet" href="{% block css %} {% static 'styling_maincourse.css' %} {% endblock %}">

{% block content %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    </div>

    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#" style="color: coral;">LIMBO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout/">
                    <img src="{% static 'images/logout.png' %}" alt="" style="width: 40px;">
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="wrapper">
    <div class="sidebar">
        <h3><b>WELCOME</b></h3>
        <div class="user-info">
            <p>{{ user.get_username }}</p>
            <h2>{{ user.get_full_name }}</h2>
            <p>{{ sem }} Semester</p>
        </div>
        <ul>
            <li><a href="dashboard">Dashboard</a></li>
            <li><a href="maincourse">Course Registration</a></li>
            <li><a href="addon">Add-On Course Registration</a></li>
            <li><a href="semresults">Semester Results</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="card" , style="background-color: #343A40; border-radius: 15px;">

        {% if registered %}
        <h2>Courses have already been registered</h2>
        {% else %}
        <h2>Select Main Course Subjects</h2>
        <div class="group" style="font-size: 20px;">
            <form method="post">
                {% csrf_token %}
                {% for course in courses %}
                <div class="group">
                    <input class="course" type="checkbox" id="{{ course.cid }}" name="completed"
                        value="{{ course.cid }}" />
                    <label for="{{ course.cid }}"> {{course.name}} </label>
                </div>
                {% endfor %}
                {% csrf_token %}
                <input type="submit" class="btn btn-lg btn-outline-success" value="Submit" href="maincourse"
                    style="margin-left: 35%;">
                </ul>
            </form>
        </div>
        {% endif %}
    </div>
</div>


{% endblock %}