{% extends 'base.html' %}
{% load static %}

{% block title %}Dues List{% endblock %}
<link rel="stylesheet" href="{% block css %} {% static 'styling_semresults.css' %} {% endblock %}">

{% block content %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    </div>

    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#">LIMBO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="logout">
                    <img src="{% static 'images/logout.png' %}" alt="" style="width: 40px;">
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="wrapper">
    <div class="sidebar">
        <h3><b>WELCOME</b></h3>
        <div class="user-info">
            <p>{{ user.get_username }}</p>
            <h2>{{ user.get_full_name }}</h2>
            <p>{{ group }}</p>
        </div>
        <ul>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/defaultlist">Default List</a></li>
          <li><a href="/duelist">Due List</a></li>
          {% if isWarden %}
        <li><a href="/allotroom">Hostel Room Allotment</a></li>
        {% endif %}
        {% if isLibrarian %}
      <li><a href="/loanlist">Loan List</a></li>
      {% endif %}
        </ul>
    </div>
</div>


<table class="table table-bordered table-dark" ,
    style="width: 900px; text-align: center; margin-top: 5%; margin-left: 28%; color: coral;">
    <tr id="header" style="text-align: left;">
        <th>Student id</th>
        <th>Room No.</th>

        <th>Actions</th>

    </tr>

    {% for rm in room %}

    <tr style="text-align: left;">
        <td>{{rm.sid}}</td>
        <td>{{rm.room}} </td>



        <td>
            <a href="/editallot/{{ rm.id }}"><span class="glyphicon glyphicon-pencil">Edit</span></a>
            <a href="/deleteallot/{{ rm.id }}"><span class="glyphicon glyphicon-pencil"> Delete</span></a>
        </td>

    </tr>

    {% endfor %}
</table>

<center>
    <a href="/addallot" class="btn btn-lg btn-outline-success" style="margin-left: 17%;">Add New Record</a>
</center>



{% endblock %}
