body {
    font-family: Oswald;
    background-image: url("images/iiita.jpg");
  }

  .box {
    width: 500px;
    padding: 50px;
    position: absolute;
    top: -10px;
    left: 33%;
    background: #343A40;
    text-align: center;
    transition: 0.25s;
    margin-top: 100px;
    border-radius: 5%;
  }

  .box input[type="text"],
  .box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
  }

  .box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
  }

  .box input[type="text"]:focus,
  .box input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
  }

.btn {
  width: 150px;
}